./smart_exp/src/arduino/sketch_smart_exp/.vscode/
./smart_exp/src/arduino/sketch_se/.vscode/
./smart_exp/src/java/viewer/.project
./smart_exp/src/java/viewer/.gradle/
./smart_exp/src/java/viewer/.settings/
./smart_exp/src/java/viewer/build/
./smart_exp/src/java/viewer/bin/
./smart_exp/src/java/viewer/.classpath





